@media (max-width:950px) { /*Mobile*/
    .contactMainDiv {
        min-width: 100%;

        margin-top: 4vh;
        margin-bottom: auto;
        margin-left: 6vw;
        margin-right: 6vw;

        display: flex;
        flex-direction: column;

        text-align: left;
    }

    .header {
        padding-right: 5%; /*prevents annoying text overflow*/
        font-size: 2em;
        font-weight: 900;
    }

    .subWord {
        padding-right: 5%; /*prevents annoying text overflow*/
        margin-right: 5vw; /*preference*/
        font-size: 1em;
        font-weight: 300;
    }

    .spacer {
        margin-bottom: 5vh;
    }

    .contacts {
        font-size: 1em;
        font-weight: 350;
        text-decoration: underline;

        a {
            color:inherit;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        li {
            margin-bottom: 2vh;
        }
        
    }
}

@media (min-width:951px) { /*Desktop*/
    .contactMainDiv {
        min-width: 100%;

        margin-top: 8vh;
        margin-bottom: auto;
        margin-left: 6vw;
        margin-right: 6vw;

        display: flex;
        flex-direction: column;

        text-align: left;
    }

    .header {
        font-size: 3em;
        font-weight: 900;
    }

    .subWord {
        font-size: 1.2em;
        font-weight: 300;
    }

    .spacer {
        margin-bottom: 5vh;
    }

    .contacts {
        font-size: 1.2em;
        font-weight: 350;
        text-decoration: underline;

        a {
            color:inherit;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        li {
            margin-bottom: 2vh;
        }
        
    }
}