.footerMainDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 100vw;
}

.footnote {
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;

    font-size: 12pt;
    font-weight: 300;
}