@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars for all elements */
* {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */

  overscroll-behavior: none;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spacer {
  margin: 50vh;
}

.spacer2 {
  margin: 20vh;
}