@media (max-width:950px) { /*Mobile*/
    .IntroMainDiv {
        width: 100vw;
        height: 90vh;
        min-width: 100vw;
        min-height: 90vh;

        margin-bottom: 10vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (min-width:951px) { /*Desktop*/
    .IntroMainDiv {
        width: 100vw;
        height: 100vh;
        min-width: 100vw;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}