.portfolioMainDiv {
    white-space: nowrap;
    margin: 0;
    min-width: 100vw;
}

.scrollContainer {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100vw; /* Full viewport width */
  }

.Margin {
    margin-left: 5vw;
}

.Portfolio {
    margin: 0;
    display: inline-block;
    white-space: nowrap;
    min-width: 400vw;

    line-height: 1;
    text-align:start;
    font-size: 21vw;
    font-weight: 900;
}