@media (max-width:950px) { /*Mobile*/
    .mainDiv {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        width: 100%;
        max-width: 100%;
    }

    .lhs {
        margin-top: 2vh;
        margin-bottom: auto;
        margin-left: 6vw;
        margin-right: auto;
        grid-column: 1;
        display: flex;
        flex-direction: column;
    }

    .name {
        flex: 1;
        text-align: left;
        margin-bottom: 2vh;

        font-family: "Noto Sans Mono", sans-serif;
        font-size: 42pt;
        font-weight: 900;
        color: #fab387;
    }

    .subname {
        font-size: 16pt;
        font-weight: 250;
        color: #f2cdcd;
    }

    .spacer {
        flex: 1;
        margin: 5vh 0;
    }

    .description {
        flex: 1;
        text-align: left;

        font-size: 18pt;
        font-optical-sizing: auto;
        font-weight: 300;
    }

    .rhs {
        grid-column: 2;
        margin: 10vh 14vh auto auto;
        transform: rotate(0deg);
    }

    .contact {
        text-align: right;
    }

    .contact button {
        padding: 0.8vh 1.5vh; /* Adjust padding to match the button size */
        border: 1px solid #181825; /* Button border */
        font-size: 16pt;
        font-family: noto sans monospace, sans-serif;
        font-weight: 300;
        border-radius: 2vh; /* Rounded corners, adjust as necessary for shape */
        background: #f5c2e7; /* Button color */
        color: black; /* Text color */
        outline: none; /* Remove the default focus outline */
        cursor: pointer; /* Change mouse cursor on hover */
        transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
    }

    .contact button:hover {
        background: #f38ba8;
        color: black;
    }
}

@media (min-width:951px) { /*Desktop*/
    .mainDiv {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));;
        width: 100%;
        max-width: 100%;
    }

    .lhs {
        margin-top: 10vh;
        margin-bottom: auto;
        margin-left: 6vw;
        margin-right: auto;
        grid-column: 1;
        display: flex;
        flex-direction: column;
    }

    .name {
        flex: 1;
        text-align: left;
        margin-bottom: 2vh;

        font-family: "Noto Sans Mono", sans-serif;
        font-size: 50pt;
        font-weight: 900;
        color: #fab387;
    }

    .subname {
        font-size: 16pt;
        font-weight: 250;
        color: #f2cdcd;
    }

    .spacer {
        flex: 1;
        margin: 5vh 0;
    }

    .description {
        flex: 1;
        text-align: left;

        font-size: 18pt;
        font-optical-sizing: auto;
        font-weight: 300;
    }

    .rhs {
        grid-column: 2;
        margin: 10vh 14vh auto auto;
        transform: rotate(0deg);
    }

    .contact {
        text-align: right;
    }

    .contact button {
        padding: 0.8vh 1.5vh; /* Adjust padding to match the button size */
        border: 1px solid #181825; /* Button border */
        font-size: 16pt;
        font-family: noto sans monospace, sans-serif;
        font-weight: 300;
        border-radius: 2vh; /* Rounded corners, adjust as necessary for shape */
        background: #f5c2e7; /* Button color */
        color: black; /* Text color */
        outline: none; /* Remove the default focus outline */
        cursor: pointer; /* Change mouse cursor on hover */
        transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
    }

    .contact button:hover {
        background: #f38ba8;
        color: black;
    }
}