.mainDiv {
    white-space: nowrap;
    margin: 0;
    min-width: 100vh;
}

.scrollContainer {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100vw; /* Full viewport width */
  }

.Margin {
    margin-left: 6vw;
}

.Portfolio {
    margin: 0;
    display: inline-block;
    white-space: nowrap;
    min-width: 400vh;

    line-height: 1;
    font-size: 20vw;
    font-weight: 900;
    color: #fab387;
}