@media (max-width:950px) { /*Mobile*/
    .mainDiv {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        max-width: 100%;

        text-align: center; /* Center text content */

        align-items: center; /* Center children horizontally */

        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .lhs {
        grid-column: 1;
        margin: auto;
        max-width: fit-content;
    }

    .name {
        font-size: 18pt;
        font-weight: 800;
        color: #fab387;
        text-align: left;
        
        max-width: 75vw;

        position: relative;
    }

    .img {
        width: 75vw;
        margin: auto;
    }

    .rhs {
        grid-column: 1;
        margin: auto;
        margin-top: 2vh;
        max-width: 70vw;
    }

    .paragraph {
        font-size: 12pt;
        font-weight: 300;
    }
}

@media (min-width:951px) { /*Desktop*/
    
    .mainDiv {
        display: grid;
        grid-template-columns: 1fr, 2fr;
        width: 100%;
        max-width: 100%;


        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .lhs {
        grid-column: 1;
        margin-top: 0vh;
        margin-bottom: 0vh;
        margin-left: 0vw;
        margin-right: 0vw;
        max-width: fit-content;
    }

    .name {
        font-size: 24pt;
        font-weight: 800;
        color: #fab387;
        text-align: left;
        
        max-width: 24vw;
    }

    .img {
        width: 24vw;
    }

    .rhs {
        grid-column: 2;
        margin-top: 4vh;
        margin-bottom: 0vh;
        margin-left: 5vw;
        margin-right: 40vw;
        max-width: fit-content;
    }

    .paragraph {
        font-size: 18pt;
        font-weight: 300;
    }
}