.mainDiv {
    margin: auto;
    
    width: 80vw;
    

    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));;
}

.spacer {
    margin: 2vh;
}

.lhs {
    grid-column: 1;
    display: flex;
    flex-direction: column;

    margin: 5vh;
    height: 150vh;
}

.progLanguages {
    background-color: #313244;
    border-radius: 2vh;
    border-style: solid;
    border-width: 0.1em;
    border-color: white;

    padding-top: 0vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 2vh;
}

.hdLanguages {
    background-color: #313244;
    border-radius: 2vh;
    border-style: solid;
    border-width: 0.1em;
    border-color: white;

    padding-top: 0vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 2vh;
}

.experience {
    background-color: #313244;
    border-radius: 2vh;
    border-style: solid;
    border-width: 0.1em;
    border-color: white;

    padding-top: 0vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 2vh;
}

.rhs {
    grid-column: 2;

    margin: 5vh;
    height: 100vh;
}

.technologies {
    background-color: #313244;
    border-radius: 2vh;
    border-style: solid;
    border-width: 0.1em;
    border-color: white;

    padding-top: 0vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 2vh;
}

.education {
    background-color: #313244;
    border-radius: 2vh;
    border-style: solid;
    border-width: 0.1em;
    border-color: white;

    padding-top: 0vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 2vh;
}

