.App {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.background {
  position: fixed; /* or 'absolute' */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #11111b; /*crust*/
}

.mainContent {
  position: relative;
  z-index: 2;

  background-color: #1e1e2e; /*base*/
  /*max-width: calc(100vh * 16 / 9);
  min-height: 100vh;
  margin: auto;*/
}

.spacer {
  margin: 30vh;
}

.spacer2 {
  margin: 10vh;
}