@keyframes SlideInFade {
    0% {
        transform: translateY(100%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes SlideInFadeHor {
    0% {
        transform: translateX(100%);
        opacity: 0%;
    }
    100% {
        transform: translateX(0%);
        opacity: 100%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.SlideInFade {
    animation: SlideInFade 0.5s ease-in-out forwards;
    animation-delay: 0s; 
}

.SlideInFadeDelay1 {
    animation: SlideInFade 0.5s ease-in-out forwards;
    animation-delay: 0.025s;
}

.SlideInFadeDelay2 {
    animation: SlideInFade 0.5s ease-in-out forwards;
    animation-delay: 0.05s;
}

.SlideInFadeHor {
    animation: SlideInFadeHor 0.5s ease-in-out forwards;
}

.FadeIn {
    animation: fadeIn 0.25s ease-in-out forwards;
}

.FadeOut {
    animation: fadeOut 0.25s ease-in-out forwards;
}