@media (max-width:950px) { /*Mobile*/
    .mainDiv {
        width: 100vw;
        margin: auto;
        padding: auto;
        text-align: center;
        align-content: center;
    }

    .title {
        font-size: 2.5em;
        font-weight: 900;
        margin-bottom: 5vh;
    }

    .boxes {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        max-width: 80vw;
        text-align: left;

        img {
            margin: auto;
            width: 10vw;
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(185deg) brightness(106%) contrast(106%); /*Change the color of the icon to white*/
        }

        h2 {
            margin: auto;
            width: fit-content;

            font-size: 5vw;
            font-weight: 500;
        }

        p {
            margin: auto;
            margin-left: 10vw;
            margin-right: 10vw;
            font-size: 4vw;
            font-weight: 300;
        }

    }

    .boxesTop {
        display: flex;
        margin: 0;
        padding: 0;
        height: 30vw;
        max-height: 30vw;
    }

    .box1 {
        border-style: solid;
        border-radius: 0%;
        border-width: 0.2em;

        min-width: 80vw;
        min-height: 80vw;
        margin-bottom: 5vh;

        grid-column: 1;
    }

    .box2 {
        border-style: solid;
        border-radius: 0%;
        border-width: 0.2em;

        min-width: 80vw;
        min-height: 80vw;
        margin-bottom: 5vh;

        grid-column: 1;
    }

    .box3 {
        border-style: solid;
        border-radius: 0%;
        border-width: 0.2em;

        min-width: 80vw;
        min-height: 80vw;
        margin-bottom: 5vh;

        grid-column: 1;
    }
}

@media (min-width:951px) { /*Desktop*/
    .mainDiv {
        width: 100vw;
        margin: auto;
        padding: auto;
        text-align: center;
        align-content: center;
    }

    .title {
        font-family: "Noto Sans Mono", sans-serif;
        font-size: 4em;
        font-weight: 900;
        border-right: none;
        margin-bottom: 5vh;
    }

    .boxes {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr, 1fr, 1fr;
        max-width: 60vw;

        img {
            margin: auto;
            width: 2.5vw;
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(185deg) brightness(106%) contrast(106%); /*Change the color of the icon to white*/
        }

        h2 {
            margin: auto;
            width: fit-content;

            text-align: left;
            font-family: "Noto Sans Mono", sans-serif;
            font-size: 1.4vw;
            font-weight: 500;
        }

        p {
            margin: auto;
            margin-left: 2.5vw;
            margin-right: 2.5vw;
            font-family: "Noto Sans Mono", sans-serif;
            font-size: 1vw;
            font-weight: 300;
            text-align: left;
        }

    }

    .boxesTop {
        display: flex;
        margin: 0;
        padding: 0;
        height: 10vw;
        max-height: 10vw;
    }

    .box1 {
        border-style: solid;
        border-radius: 0%;
        border-width: 0.2em;
        border-right: none;

        width: 20vw;
        height: 20vw;

        grid-column: 1;

        opacity: 0%;
    }

    .box2 {
        border-style: solid;
        border-radius: 0%;
        border-width: 0.2em;
        border-right: none;

        width: 20vw;
        height: 20vw;

        grid-column: 2;

        opacity: 0%;
    }

    .box3 {
        border-style: solid;
        border-radius: 0%;
        border-width: 0.2em;

        width: 20vw;
        height: 20vw;

        grid-column: 3;

        opacity: 0%;
    }
}